.hero__heading {
    font-size: 50px;
    font-weight: bold;
}

.hero__heading span {
    color: #7f8ffe;
}

.job__catagory {
    margin: 100px auto;
}

.job__catagory-card {
    min-width: 200px;
    background-color: #faf8ff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.job__catagory-card img {
    height: 70px;
    width: 70px;
}

.hero__details {
    margin-top: 30px;
}

.hero__image {
    margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .hero__image {
        margin-bottom: -70px;
    }
}
