p {
    font-weight: 600;
    color: gray;
}

a {
    text-decoration: none;
}

.main-btn {
    background-image: linear-gradient(to right, #938dff 0%, #8f61f1 100%);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
}

.main-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.outline-btn {
    transition: 0.5s;
    font-weight: 600;
    margin-right: 15px;
}
.outline-btn:hover {
    background-image: linear-gradient(to right, #938dff 0%, #8f61f1 100%);
    color: black;
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.cover__img {
    background-image: url("/cover.png");
    background-color: #f9f9ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
